# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc

# Generated datasets
workspace/
processed_dataset/

# Feature files
*.npy

# Generated reports
*.json

# Metadata
*.csv

# Model weights
*.pt
*.pth